<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Programming Assignment 1 - Whiteboard Application</title>



    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css" />
    <link href="~/Content/ui.notify.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>

    <script src="Content/jquery.notify.min.js"></script>
    <script src="Content/inheritance.js"></script>
    <script src="Content/drawing.js"></script>
    <script type='text/javascript' src='http://mathdox.org/formulaeditor/main.js'></script>   

</head>
<body id="main">
    @RenderBody()
</body>
</html>
